{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_learninggoalwidget/editor/goal

    Renders a goal in the learning goals section
    This template is not for use within moodle.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * topicid
    * goalid
    * buttonedit
    * buttondelete
    * buttonmoveup
    * buttonmovedown

    Example context (json):
    {
        "topicid": "1",
        "goalid": "1",
        "buttonedit": "Edit",
        "buttondelete": "Delete",
        "buttonmoveup": "Move up",
        "buttonmovedown": "Move down"
    }
}}
<li class="listitem listitem-goals list-group-item list-group-item-action" data-selected="0" data-visible="1">
    <div class="clearfix">
        <span id="{{topicid}}-{{goalid}}-goalname" class="float-left" data-topicid="{{topicid}}" data-goalid="{{goalid}}">{{{learninggoaltitle}}}</span>
        <div class="float-right">
            <span class="goals-item-actions item-actions">
                <a id="{{topicid}}-goal-{{goalid}}-action-edit" class="no-underline action-edit" role="button" data-topicid="{{topicid}}" data-goalid="{{goalid}}">
                    <i class="icon fa fa-cog fa-fw" title="{{buttonedit}}" aria-label="{{buttonedit}}"></i>
                </a>
                <a id="{{topicid}}-goal-{{goalid}}-action-delete" class="no-underline action-delete" role="button"  data-topicid="{{topicid}}" data-goalid="{{goalid}}">
                    <i class="icon fa fa-trash fa-fw" title="{{buttondelete}}" aria-label="{{buttondelete}}"></i>
                </a>
                <a id="{{topicid}}-goal-{{goalid}}-action-moveup" class="no-underline action-moveup" data-action="moveup" role="button" data-topicid="{{topicid}}" data-goalid="{{goalid}}">
                    <i class="icon fa fa-arrow-up fa-fw" title="{{buttonmoveup}}" aria-label="{{buttonmoveup}}"></i>
                </a>
                <a id="{{topicid}}-goal-{{goalid}}-action-movedown" class="no-underline action-movedown" data-action="movedown" role="button" data-topicid="{{topicid}}" data-goalid="{{goalid}}">
                    <i class="icon fa fa-arrow-down fa-fw" title="{{buttonmovedown}}" aria-label="{{buttonmovedown}}"></i>
                </a>
            </span>
        </div>
    </div>
</li>
