{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_learninggoalwidget/widget/sunburst-progress-view

    Renders the sunburst visualisation of the taxonomy with colored segments of users progress
    This template is not for use within moodle.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * courseid
    * coursemoduleid
    * instanceid
    * textualbulletpointlisttitle

    Example context (json):
    {
        "courseid": "1",
        "coursemoduleid": "2",
        "instanceid": "3",
        "textualbulletpointlisttitle": "Überblick über die Themenbereiche und Lernziele"
    }
}}
<div id="learninggoals-sunburst-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-listing-view-container" style="padding-left: 3em;display: inline-block;width: 66%;height: 100%;position: absolute;overflow-y: auto;">
    <div id="learninggoals-sunburst-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-listing-view-title" style="margin-bottom: 1em;">
        <span style="font-weight: bold;margin-bottom: 1em;">{{{textualbulletpointlisttitle}}}</span>
    </div>
    <div id="learninggoals-sunburst-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-listing-view">
    </div>
</div>
