{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_learninggoalwidget/widget/widget-view-container

    Renders the learning goal widget form in the activity settings
    This template is not for use within moodle.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * courseid
    * coursemoduleid
    * instanceid
    * contentview
    * examview
    * progresslabel0
    * progresslabel50
    * progresslabel100
    * progressdialogtitle
    * progresslegendlabel
    * treemapthumbnail
    * sunburstthumbnail
    * textualbulletpointlisttitle

    Example context (json):
    {
        "courseid": "1",
        "coursemoduleid": "2",
        "instanceid": "3",
        "contentview": "Lernziele Ansicht",
        "examview": "Lernzielfortschritt Ansicht",
        "progresslabel0": "Gering (0%)",
        "progresslabel50": "Durchschnittlich (50%)",
        "progresslabel100": "Hoch (100%)",
        "progressdialogtitle": "Lernzielfortschritt aktualisieren",
        "progresslegendlabel": "Lernfortschritt",
        "treemapthumbnail": "data:image/gif;base64,R0lGODlhEAAOALMAAOazToeHh0tLS/7LZv/0jvb29t/f3//Ub//ge8WSLf/rhf/3kdbW1mxsbP//mf///yH5BAAAAAAALAAAAAAQAA4AAARe8L1Ekyky67QZ1hLnjM5UUde0ECwLJoExKcppV0aCcGCmTIHEIUEqjgaORCMxIC6e0CcguWw6aFjsVMkkIr7g77ZKPJjPZqIyd7sJAgVGoEGv2xsBxqNgYPj/gAwXEQA7",
        "sunburstthumbnail": "data:image/gif;base64,R0lGODlhEAAOALMAAOazToeHh0tLS/7LZv/0jvb29t/f3//Ub//ge8WSLf/rhf/3kdbW1mxsbP//mf///yH5BAAAAAAALAAAAAAQAA4AAARe8L1Ekyky67QZ1hLnjM5UUde0ECwLJoExKcppV0aCcGCmTIHEIUEqjgaORCMxIC6e0CcguWw6aFjsVMkkIr7g77ZKPJjPZqIyd7sJAgVGoEGv2xsBxqNgYPj/gAwXEQA7",
        "textualbulletpointlisttitle": "Überblick über die Themenbereiche und Lernziele"
    }
}}

<div
    id="learninggoals-widget-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}"
    class="learninggoalwidget"
    style="width: 100%"
    data-course-id="{{courseid}}"
    data-coursemodule-id="{{{coursemoduleid}}}"
    data-instance-id="{{{instanceid}}}"
    data-user-id="{{userid}}"
    data-progresslabel0="{{progresslabel0}}"
    data-progresslabel50="{{progresslabel50}}"
    data-progresslabel100="{{progresslabel100}}"
    data-progressdialogtitle="{{progressdialogtitle}}"
    data-progresslegendlabel="{{progresslegendlabel}}"
    data-sunburst-id="learninggoals-sunburst-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}"
    data-treemap-id="learninggoals-treemap-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}"
    data-treemapaccessibilitytext="{{treemapaccessibilitytext}}">

    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="d-flex flex-column justify-center">
            <img id="{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-treemap-thumbnail" class="img-fluid" style="height: 48px; width:auto; cursor: pointer;" src="{{{treemapthumbnail}}}" alt="">
            {{! <div class="p-2 bd-highlight">Treemap</div> }}
        </div>
        <div class="d-flex flex-column justify-center pr-3">
            <img id="{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-sunburst-thumbnail" class="img-fluid" style="height: 48px; width:auto; cursor: pointer;" src="{{{sunburstthumbnail}}}" alt="">
            {{! <div class="p-2 bd-highlight">Sunburst</div> }}
        </div>
    </div>

    {{! Sunburst Visualisation }}
    <div id="learninggoals-sunburst-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-container" style="position: relative">
        <div class="newrow">
            <div class="tab">
                <span class="section-modchooser" id="learninggoals-sunburst-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-ClickedOverview">
                    <span class="section-modchooser-link">
                        <a class="btn btn-outline-secondary btn-sm text-nowrap">
                            <span class="section-modchooser-text">{{{contentview}}}</span>
                        </a>
                    </span>
                </span>
                <span class="section-modchooser" id="learninggoals-sunburst-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-ClickedPreparation">
                    <span class="section-modchooser-link">
                        <a class="btn btn-outline-secondary btn-sm text-nowrap">
                            <span class="section-modchooser-text">{{{examview}}}</span>
                        </a>
                    </span>
                </span>
            </div>
        </div>
        <div class="newrow">
            {{> mod_learninggoalwidget/widget/sunburst-view }}
            <span id="learninggoals-sunburst-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-text-path-storage"></span>
            {{> mod_learninggoalwidget/widget/sunburst-progress-view }}
            {{> mod_learninggoalwidget/widget/sunburst-textual-bullet-point-view }}
        </div>
    </div>

    {{! Treemap Visualisation }}
    <div id="learninggoals-treemap-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}-container" style="position: relative">
        <div class="newrow">
            {{> mod_learninggoalwidget/widget/treemap-view }}
        </div>
    </div>

</div>

{{#js}}
require(
[
    'jquery',
    'mod_learninggoalwidget/main',
],
function(
    $,
    Main
) {
    var root = $('#learninggoals-widget-{{{courseid}}}-{{{coursemoduleid}}}-{{{instanceid}}}');
    Main.init(root);
});
{{/js}}
